# ignore PyCharm Directory
/.idea/
/.vs/
/venv/
*/.idea/
*/.vs/
*/venv/
__pycache__/
Modules/FaceRigger/__pycache__/
Reference/__pycache__/
# Maya_Modules/Animation/json/Projects/
Maya_Modules/Misc/Batch_Exporter/Test/

*.pyc


